{% extends 'layout_admin.njk' %}

{% block content %}

<form action="/admin/chefs" method="POST">
    <div class="headline-container">
        <div><h2>Criando Chef</h2></div>
        <div><button class="button">Salvar Chef</button></div>
    </div>

    <h3 class="admin-h3">Nome</h3>
    <input type="text" name="name">

    <h3 class="admin-h3">Avatar</h3>
    <input type="url" name="avatar_url">
    
</form>

{% endblock content %}