{% extends "layout_admin.njk" %}

{% block content %}

<h2 class="admin-h2" style="float: left;">Criando Receita</h2>

<form action="/admin/recipes" method="post">

    <button type="submit" class="button" style="float: right;">Salvar receita</button>

    {% include "admin/fields.njk" %}

</form>

{% endblock content %}