{% extends "layout_admin.njk" %}

{% block content %}

<div class="heading_n_btn">
    <h2 class="admin-h2">Gerenciar Receitas</h2>
    <a href="/admin/create" class="button">Nova Receita</a>
    <span class="clearfix"></span>
</div>


<div class="admin-cards">
    {% for recipe in recipes %}
        <div class="admin-card">
            <div class="admin-card_img-content">
                <img src="{{recipe.image}}" alt="">
            </div>
            <div class="admin-card-content">
                <p class="admin-card-title">{{recipe.title}} </p>
                <p class="admin-card-author">{{recipe.author}}</p>
                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
