{% extends "layout_admin.njk" %}

{% block content %}

    <div class="heading_n_btn">
        <h2 class="admin-h2">Receita: {{recipe.title}}</h2>
        <a href="/admin/recipes/{{recipe.id}}/edit" class="button" style="float: right; margin-top: 20px;">Editar Receita</a>
        <span class="clearfix"></span>
    </div>

    <div class="recipe_image-container">
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
    </div>

    <div class="recipe">
        <div class="recipe-info">
            <h1>{{recipe.title}}</h1>
            <p>{{recipe.author}}</p>
        </div>
        
        <h2>Ingredientes <span class="btn-show"></span></h2>

        <ul class="recipe-list btn-show-event">
        
            {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}
        </ul>

        <h2>Modo de preparo <span class="btn-show">e</span></h2>

        <ul class="recipe-list btn-show-event">
            {% for step in recipe.preparation %}
                <li>{{step}}</li>
            {% endfor %}

        </ul>

        <h2 class="{{'' if recipe.information else 'no-information'}}">Informações Adicionais <span class="btn-show"></span></h2>

        <p class="btn-show-event">{{recipe.information}}</p>

    </div>

    <script src="/scripts.js"></script>

{% endblock %}