{% extends "layout.njk" %}

{% block content%}
    <div class="wrapper">
        <div class="wrapper-content">
            <h1 class="wrapper-title">As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </p>
        </div>
        <div class="wrapper-img">
            <img src="/assets/chef.png" alt="Imagem animada do chef">
        </div>
    </div>

    <h2 id="mais-acessadas">Mais acessadas</h2>

    <section class="cards">
        {% for item in items %}

            <div class="card" id="burger">
                <div class="card_img-content">
                    <img src="{{item.image}}" alt="{{item.title}}">
                </div>
                <div class="card-content">
                    <p class="card-title">{{item.title}}</p>
                    <p class="card-autor">{{item.author}}</p>
                </div>
            </div>

        {% endfor %}

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-image">
                <img src="" alt="">
            </div>
            <div class="modal-content">
                <p class="modal-title"></p>
                <p class="modal-autor">por Vania Steroski</p>
            </div>
            <div class="modal-close">
                <p>Fechar modal</p>
            </div>
        </div>
    </div>

    <script src="/scripts.js"></script>


{% endblock %}


