{% extends "layout.njk" %}

{% block content %}

    <div class="recipe_image-container">
        <img src="{{item.image}}" alt="{{item.title}}">
    </div>

    <div class="recipe">
        <h1>{{item.title}}</h1>
        <p>{{item.author}}</p>
    </div>

{% endblock %}