@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap";

:root {
    --color--wrapper--: #FBDFDB;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 940px;
}

body p {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}

header div {
    padding: 30px 60px;
    text-align: center;
    display: inline-block;
}

.logo-img {
    padding-left: 0;
    position: relative;
    top: 8px;
}

header div a {
    padding: 30px;
}

.links  a {
    text-decoration: none;
    color: #111111;
}

.wrapper {
    background-color: var(--color--wrapper--);
    position: relative;
    width: 940px;
    height: 366px;
    border-radius: 30px;
}

.wrapper-img img {
    position: absolute;
    right: 100px;
    bottom: 0;
}

.wrapper-content {
    max-width: 320px;
    text-align: justify;
    position: absolute;
    left: 6.4%;
    top: 30%;
    
}

.wrapper-content .wrapper-title {
    font-weight: bold;
    font-size: 32px;
}

#mais-acessadas {
    margin-top: 30px;
    color: #111111;
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.card_img-content img {
    width:100%;
    height: 140px;
    border-radius: 15px;
}

.card-content {
    margin-top: 10px;
}

.card-title {
    color: #111111;
    opacity: 1;
}

.card-autor {
    opacity: 1;
    color: #777777;
    font-size: 14px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.modal {
    margin: 20vh auto;
    background-color: white;
    position: relative;
    width: 660px;
    height: 413px;
    border-radius: 16px;
}
.modal-close {
    opacity: 0.6;
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.modal-overlay.active {
    visibility: visible;
}

.modal-image img {
    border-radius: 46px;
    padding: 30px;
    width: 660px;
    height: 260px;
}

.modal-content {
    text-align: center;
}

.modal-title {
    font-size: 24px;
    line-height: 34px;
    opacity: 1;
}

/* ---Sobre---*/
main h1 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

main p {
    margin: 20px 0;
    text-align: justify;
}

main h2 {
    font-size: 20px;
}

footer {
    background-color: #eeeeee;
    margin-top: 30px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 62px;
    text-align: center;
}

#footer-links {
    font-size: 14px;
    padding: 20px;
    color: #999999;
}

/* ---recipe-page--- */
.recipe_image-container img {
    height: 280px;
    width: 100%;
    border-radius: 15px;
}

.recipe {
    margin-top: 50px;
    text-align: center;
}

.recipe h1 {
    font-size: 36px;
    color: #111;
}