<div class="recipe-identification clearfix">
    <h3 class="admin-h3">Imagem da Receita</h3>
    <input 
        type="url" 
        name="image" 
        placeholder="https://Imagem.com/macarrao"
        value="{{recipe.image}}">

    <h3 class="admin-h3">Nome da receita</h3>
    <input 
        type="text" 
        name="title" 
        placeholder="Macarrão com salsicha"
        value="{{recipe.title}}">
    
    <h3 class="admin-h3">Autor</h3>
    <input 
        type="text" 
        name="author"
        placeholder="Marcelo Almeida"
        value="{{recipe.author}}">
</div>

<h3 class="admin-h3">Ingredientes</h3>
<div id="ingredients">
    <div class="ingredient">
        {% if recipe.ingredients.length > 0 %}
            {% for ingredient in recipe.ingredients %}
                <input type="text" name="ingredients[]" value="{{ingredient}}" placeholder="100ml de água" />
            {% endfor %}
        {% else %}
            <input type="text" name="ingredients[]" value="" placeholder="100ml de água" />
        {% endif %}
    </div>
</div>
<button type="button" class="add-ingredient button">Adicionar Ingrediente</button>

<h3 class="admin-h3">Modo de preparo</h3>
<div id="preparations">
    <div class="preparation">
        {% if recipe.preparation.length > 0 %}
            {% for preparation in recipe.preparation %}
                <input type="text" name="preparation[]" value="{{preparation}}" placeholder="Aquecer a panela" />
            {% endfor %}
        {% else %}
            <input type="text" name="preparation[]" value="" placeholder="Aquecer a panela" />
        {% endif %}
    </div>
</div>
<button type="button" class="add-preparation button">Adicionar Passo</button>

<h3 class="admin-h3">Informações Adicionais</h3>
<textarea 
    name="information"
    placeholder="Preaqueça a panela...">
    {{recipe.information}}
</textarea>

<script src="/create.js"></script>